<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <section class="note-container">
        <h2>Note List</h2>
        <section class="note">
            <form action="/" method="POST" class="note-header">
                <input type="text" name="title" placeholder="Note Title">
                    <textarea rows="6" cols="45" name="content" placeholder="Text Body"></textarea>
                <button>
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label">Add Note</span>
                  </button>
            </form>
            <ul class="note-list">
                <% Notes.forEach(details => {%> 
                    <li class="note-list-item">
                        <div class="note-list-item-title">
                            <%= details.title %> 
                        </div>
                        <div class="note-list-item-content">
                            <%= details.content %> 
                        </div>
                        <div class="icons">
                            <a href="/edit/<%=details._id %>" class="edit"><span class="fas fa-edit"></span></a>
                            <a href="/edit/remove/<%=details._id %>" class="remove"><span class="fas fa-trash"></span></a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </section>
    </section>
</body>
</html>